.process {
    padding-top: 40px;
}

.process .titulo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.process .titulo h2 {
    font-size: 16px;
    font-weight: 800;
    text-transform: uppercase;
    color: var(--cor-primaria);
    padding-bottom: 15px;
}

.process .titulo span:first-child {
    background-color: var(--cor-primaria);
    display: block;
    width: 35px;
    height: 2px;
    position: relative;
    top: -12px;
    right: 15px;
    transition: 0.5s ease-in-out;
}

.process .titulo span:first-child::after {
    background-color: var(--cor-primaria);
    content: "";
    position: absolute;
    width: 150%;
    height: 100%;
    top: 7px;
    right: 0;
    transition: 0.5s ease-in-out;
}

.process .titulo span:last-child {
    background-color: var(--cor-primaria);
    display: block;
    width: 35px;
    height: 2px;
    position: relative;
    top: -12px;
    right: -15px;
    transition: 0.5s ease-in-out;
}

.process .titulo span:last-child::after {
    background-color: var(--cor-primaria);
    content: "";
    position: absolute;
    width: 150%;
    height: 100%;
    top: 7px;
    left: 0;
    transition: 0.5s ease-in-out;
}

.process > h3 {
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    color: #2c3e50;
}

.process .cards {
    display: grid;
    grid-template-areas: "card1 card2 card3";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 15px;
    padding: 80px 100px 40px 100px;
}

.process .cards .card1 {
    grid-area: card1;
    box-shadow: 0px 0px 10px 0px var(--cor-terciaria);
}

.process .cards .card2{
    grid-area: card2;
    box-shadow: 0px 0px 10px 0px var(--cor-terciaria);
}

.process .cards .card3{
    grid-area: card3;
    box-shadow: 0px 0px 10px 0px var(--cor-terciaria);
}

.process .cards .card1,
.process .cards .card2,
.process .cards .card3 {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 48px 24px;
    border: 1px solid var(--cor-primaria);
}

.process .cards .card1 i,
.process .cards .card2 i,
.process .cards .card3 i {
    font-size: 50px;
    color: #000;
    position: absolute;
    top: -17%;
    color: #fff;
}

.process .cards .card1 .fas.fa-globe {
    background-color: var(--cor-primaria);
    padding: 25px 25px;
    border-radius: 50%;
}

.process .cards .card2 .fas.fa-dollar-sign {
    background-color: var(--cor-primaria);
    padding: 25px 35px;
    border-radius: 50%;
}

.process .cards .card3 .fas.fa-plane-departure {
    background-color: var(--cor-primaria);
    padding: 30px 25px;
    border-radius: 50%;
    font-size: 40px;
}

 
.process .cards .card1 h3,
.process .cards .card2 h3,
.process .cards .card3 h3 {
    padding: 24px 0;
    font-size: 20px;
    font-weight: 800;
    text-align: center;
    color: #2c3e50;
}

.process .cards span {
    background-color: var(--cor-terciaria);
    display: block;
    width: 60px;
    height: 0.5px;
    position: relative;
    transition: 0.5s ease-in-out;
    text-align: center;
}

.process .cards span::after {
    background-color: var(--cor-terciaria);
    content: "";
    position: absolute;
    width: 200%;
    height: 100%;
    top: 5px;
    left: -45%;
    transition: 0.5s ease-in-out;
}

.process .cards .card1 p,
.process .cards .card2 p,
.process .cards .card3 p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #808b8d;
    text-align: center;
    padding-top: 20px;
}

@media (max-width: 850px) {
    .process .cards {
        display: grid;
        grid-template-areas: "card1 card2 card3";
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        grid-gap: 15px;
        padding: 80px 60px 40px 60px;
    }
}

@media (max-width: 750px) {
    .process .cards {
        display: grid;
        grid-template-areas: "card1 card2" "card3 .";
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr 1fr;
        grid-column-gap: 15px;
        grid-row-gap: 70px;
        padding: 80px 60px 40px 60px;
    }

    .process .cards .card1,
    .process .cards .card2,
    .process .cards .card3 {
        padding: 48px 16px;
    }
}

@media (max-width: 650px) {
    .process .cards {
        padding: 80px 20px 40px 20px;
    }
}

@media (max-width: 550px) {
    .process .cards {
        display: grid;
        grid-template-areas: "card1" "card2" "card3";
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-row-gap: 70px;
    }
}